body {
    margin: 0;
    text-align: center;
	font-family: 'Montserrat', sans-serif;
}

img{
	border-radius: 50%;
}

.cover{
	max-width: 1225px;
	margin: 0 auto;
}

.hero{
    display: flex;
    background: url(background.png);
    background-position: -200px 75%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    height: 500px;
    background-size: auto 550px;
    background-repeat: no-repeat;
}


#heroDesc h1{
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
	text-align: right;
}

#heroDesc h3{
    background: rgb(55, 76, 104, 0.76);
    max-width: 550px;
    padding: 20px;
	color: white;
	text-align: right;
}

.activities{
	background: rgba(225, 231, 219, 0.29);
}

.activities h1{
    text-align: right;
	margin:0;
	padding: 40px 20px;
}

.activitiesDesc{
	text-align: left;
}

.activitiesList{
	display: flex;
	padding: 30px 0;
}

.activitiesDescHighlight{
	font-weight: 700;
}

#activities{
	display: block;
	margin: 0 auto;
	width: 70%;
}

#photographyImage{
    width: 176px;
	margin: -35px 0 0 -22px;
}

#jeepImage{
	width: 250px;
}

#coupleImage{
	width: 150px;
}

#activitiesJeep{
	margin: -35px 0 0 50px;
    width: 300px;
}

#activitiesJeep p{
	text-align: center;
}

#activitiesCouple{
	margin: 48px 0 0 50px;
	width: 200px;
}

#activitiesPhotography{
	background: black;
	min-height: 70px;
	height: 89px;
}

#activitiesListItemsDesc{
	display: flex;
	flex-direction: row;
	margin: -20px 0 0 0;
}

#activitiesListItemsDesc p{
	padding : 20px 20px 0 20px;
	color: white;
}

.guide{
    max-width: 600px;
	padding: 20px;
    margin-left: 0;
    display: flex;
	background-color:rgb(164, 166, 181, 0.51);
	border-bottom: 20px solid #A1A3B1;
	border-radius: 0 0 10px 0;
	align-items: center;
}

.guide img{
    width: 150px;
    height: 150px;
	border-radius: 50%;
	margin-right: 30px;
}

.guideDesc{
	text-align: left;
}

.guideDesc p{
	font-style: italic;
	font-weight: 500;
}

.guideDesc h4{
	color: white;
}

.footer{
	margin-bottom: 20px;
	text-align: left;
}

@media only screen and (max-width: 1000px) {
	.activitiesList{
		flex-direction: column;
	}
	#activitiesJeep{
		margin: -300px 0 0 55%;
		width: 300px;
	}
	#activitiesCouple{
		margin-left: 15%;
	}
}

@media only screen and (max-width: 600px) {
	.activitiesList{
		flex-direction: column;
	}
	#activitiesJeep{
		margin: 0 0 0 11%;
	}
	#activitiesCouple{
		margin-left: 20%;
	}
}
